body, header {
  background: #1e0021;
}
main {
  background: #541e5d;
}
p, h1, h2, h3, h4 {
  color: #FFFFFF;
  padding: 10px
  /* font-family: Helvetica, Arial, sans-serif; */
}
img {
  margin: auto;
  display: block;
   width: 60%;
}
