body,
header {
  background: #1e0021;
}
block {
  background: #541e5d;
}
p,
h1,
h2,
h3,
h4,
marquee {
  color: #ffffff;
  padding: 10px;
  /* font-family: Helvetica, Arial, sans-serif; */
}
img {
  margin: auto;
  display: block;
}
ticker {
  color: #ffffff;
}
/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} */
