body,
header {
  background: #1e0021;
}

.block {
  background: #541e5d;
  border-radius: 25px;
}

h1 {
  text-decoration: none;
}

p {
  text-align: left;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
marquee {
  color: #ffffff;
  padding: 10px;
}

img {
  margin: auto;
  display: block;
}

/* ticker {
  color: #ffffff;
} */
/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
} */
