<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZNY8C996VR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZNY8C996VR');
</script>
</head>
<body>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a> |
    <a href="{{ '/page1.html' | relative_url }}">Page 1</a> |
    <a href="{{ '/page2.html' | relative_url }}">Page 2</a>
  </nav>
  <hr>

  <!-- Page content goes here -->
  {{ content }}
</body>
</html>
